.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  padding: 2.6875rem 0 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  gap: 6.5625rem;
  width: 50%;
}

.top-nav h1 {
  font-size: 2.4rem;
  background: linear-gradient(
    91.47deg,
    #dc3e88 18.25%,
    #b840ae 43.34%,
    #843fe8 78.18%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}

/* .top-navh1:hover {

} */

.top-nav .logo__box {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;
}

img {
  width: 2.6rem;
  height: 2.27rem;
  padding: 0;
  margin-top: 0.3rem;
}

.top-nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #434343;
  font-size: 1.25rem;
  line-height: 1.56rem;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav button {
  width: 10.625rem;
  color: #fff;
  height: 3rem;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.top-nav .close-btn {
  font-size: 3rem;
  color: #434343;
  display: none;
}

.menu {
  width: 2.5rem;
  height: 2.5rem;
  color: #434343;
  display: none;
}

@media screen and (max-width: 1200px) {
  .top-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .menu {
    display: block;
  }

  .top-nav ul {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    flex-direction: column;

    align-items: flex-start;
    text-align: left;
    background: #fff;
    z-index: 1000;
    width: 95%;
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.3);
  }

  .top-nav li {
    margin-left: 2rem;
  }

  .top-nav .close-btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 90vw;
    margin-left: 0 !important;
  }

  .actions {
    justify-content: space-around;
    gap: 1rem;
  }
} ;
