.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  padding-top: 2.6875rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  gap: 6.5625rem;
  width: 50%;
}

.top-nav h1 {
  font-size: 2.4rem;
  background: linear-gradient(
    91.47deg,
    #dc3e88 18.25%,
    #b840ae 43.34%,
    #843fe8 78.18%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}

/* .top-navh1:hover {

} */

.top-nav .logo__box {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;
}

img {
  width: 2.6rem;
  height: 2.27rem;
  padding: 0;
  margin-top: 0.3rem;
}

.top-nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #434343;
  font-size: 1.25rem;
  line-height: 1.56rem;
  cursor: pointer;
}

.top-nav button {
  float: left;
  width: 10.625rem;
  color: #fff;
  height: 3rem;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
