.card {
  display: flex;
  flex-direction: column;
  height: 23.25rem;
  width: 18.25rem;
  padding: 1rem;
  border-radius: 0.9375rem;
  border: 1px solid #d7d7d7;
}

.img-box {
  height: 16.5625rem;
  width: 16.25rem;

  border-radius: 15px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.details {
  display: flex;
}

.main-details {
  text-align: left;
}

.additional-details {
  text-align: right;
}
