.first-section {
  display: flex;
  padding: 0 1rem 5rem 1rem;
  margin: 0;
}

.first-section .right-sub-section,
.first-section .left-sub-section {
  width: 50%;
  display: flex;
  padding: 0;
  margin: 0;
}

.first-section .right-sub-section {
  flex-direction: column;
}

.first-section .right-sub-section h1 {
  font-family: "Red Rose";
  font-size: 56px;
  line-height: 78.4px;
  font-weight: 400;
  color: #434343;
  text-align: left;
}

.first-section .right-sub-section h1 span {
  font-size: 56px;
  line-height: 78.4px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgba(255, 192, 137, 0.6) 11.45%,
    #a02279 11.45%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.first-section .right-sub-section p {
  text-align: left;
  font-size: 24px;
  line-height: 35px;
  color: #434343;
  font-family: "Red Rose";
}

.search-box {
  display: flex;
  height: 54px;
  width: 618px;
  padding: 0;
}

.search-box input {
  width: 70%;
  padding: 4px 8px;
  border: 1px solid #a3a3a3;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  /* font styles */
  color: #b8b8b8;
  font-family: "Red Rose";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.search-box button {
  width: 30%;
  display: inline-block;
  margin: 0;
  padding: 0.3rem 0.9rem;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  border: none;
}

/* classes in the left-sub-section */

.images-container {
  display: flex;
  padding: 0;
  position: relative;
  width: 476px;
  margin-right: 4rem;
}

.img-box,
.img-box-alt {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  width: 234px;
  margin-left: 3px;
}

.img-box-alt {
  position: relative;
  top: 92px;
  right: 0;
}

.img-box img,
.img-box-alt img {
  height: 176px;
  width: 100%;
  margin-bottom: 3px;
}

/* 

.images-container {
  width: 476px;
  height: 459px;
  display: flex;
  margin: 0;
  padding: 0;
}

.img-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
  padding: 0;
}

.img-box-alt {
  transform: translateY(25%);
}

.left-sub-section img {
  width: 234px;
  height: 176px;
  border-radius: 15px;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0;
} */
